*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: 1.5;
  text-decoration: none;

  font-family: Roboto;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
input, button, textarea, select {
    font: inherit;
}

:root {
    --primary-color: #ea580c;
    --secondary-color: #0d9488;
    --light-color: #fff7ed;
    --gray-color: #e7e5e4;

    --header-gap: 20px;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Medium.ttf);
    font-weight: medium;
}

.content {
    height: 100dvh;

    display: grid;
    grid-template: 150px 1fr / 200px 1fr;
}

.sidebar {
    grid-area: 1 / 1 / 3 / 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    background-color: var(--primary-color);
}
.sidebar a, .sidebar h1 {
    color: var(--light-color);
    font-weight: bold;
    font-size: 1rem;
}
.sidebar a:visited {
    color: var(--light-color);
}
.sidebar > div {
    display: grid;
    gap: 0.75rem;
}
.sidebar h1 {
    font-size: 1.5rem;
}

.header {
    grid-area: 1 / 2 / 2 / 3;
    padding: 20px 40px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: var(--header-gap);

    background-color: var(--light-color);
}
.header > div {
    display: flex;
    justify-content: space-between;
    gap: calc(2 * var(--header-gap));
}
.header a:visited {
    color: black;
}
.topHeader img {
    height: 1.5rem;
    width: 1.5rem;
}
.topHeader .searchBar {
    display: flex;
    gap: var(--header-gap);
    flex: 1;
    align-items: center;
}
.topHeader input {
    flex: 1;
    height: 2rem;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--gray-color);
    font-weight: 300;
    transition: box-shadow 0.3s;
}
.topHeader input:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgb(212, 210, 209);
}
.topHeader .profileBar {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: var(--header-gap);
}
.bottomHeader {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.bottomHeader .profileDisplay {
    display: flex;
    gap: var(--header-gap);
}
.bottomHeader .profileDisplay div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottomHeader .profileDisplay p {
    font-size: 1rem;
}
.bottomHeader .profileDisplay div a {
    font-size: 1.5rem;
}
.bottomHeader img {
    height: 4rem;
    width: 4rem;
}
.bottomHeader .actions {
    display: flex;
    align-items: center;
    gap: var(--header-gap);
}
.bottomHeader button {
    height: 2.5rem;
    width: 8rem;
    border: none;
    background-color: var(--primary-color);
    border-radius: 1.25rem;
    color: var(--light-color);
    font-size: 1rem;
    transition: box-shadow 0.3s;
}
.bottomHeader button:hover {
    box-shadow: 0 0 5px 2px rgb(212, 210, 209);
}

.main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 100% / 70% 30%;
    gap: 20px;

    background-color: var(--gray-color);
    padding: 40px 20px;
}
.main .projects {
    grid-column: 1 / 2;
}
.main h2 {
    font-weight: medium;
    margin-bottom: 10px;
}
.cardsContainer {
    display: grid;
    grid-template: repeat(3, 150px) / repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
.projects .card {
    display: grid;
    grid-template: 100% / 10px 1fr;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(212, 210, 209);
    background-color: var(--light-color);
    transition: box-shadow 0.3s;
}
.card:hover {
    box-shadow: 5px 5px 10px 5px rgb(212, 210, 209);
}
.card .sidebar {
    border-radius: 10px 0 0 10px;
    height: 100%;
    padding: 0;
    grid-column: 1 / 2;
}
.cardContent {
    grid-column: 2 / 3;
    display: grid;
    grid-template: 25% 50% 25%;
    padding: 10px;
}
.card h3 {
    align-self: end;
}
.card p {
    font-weight: 300;
}
.card .icons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}
.card img {
    height: 1.5rem;
    width: 1.5rem;
}
.sidePanel {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 20px;
}
.announcementsCard, .trendingCard {
    background-color: var(--light-color);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    height: 1fr;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(212, 210, 209);
    transition: box-shadow 0.3s;
    gap: 1rem;
}
.announcementsCard:hover, .trendingCard:hover {
    box-shadow: 5px 5px 10px 5px rgb(212, 210, 209);
}
.announcementsCard p {
    font-weight: 300;
}
.announcementsCard .line {
    height: 1px;
    width: 100%;
    border-radius: 50%;
    background-color: var(--gray-color);
}
.trendingCard .textBox {
    display: grid;
    grid-template: repeat(2, 1fr) / calc(1.5rem + 10px) 1fr;
}
.trendingCard a {
    height: 1.5rem;
    width: 1.5rem;
    grid-area: 1 / 1 / 3 / 2;
    align-self: center;
}
.trendingCard p {
    font-weight: 300;
}